input[type=text] {
  height: 25px;
  width: 100%;
  @include border-radius(3px);
  padding: 0;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}