@import "function";
@import "mixins";
@import "variable";
@import "helper";
@import "input";
@import "button";
@import "text";
@import "modele_table";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $font-stack;
  background-color: $theme-bg;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%
}